In [16]:
import sqlite3

conn = sqlite3.connect("results.db")
cursor = conn.cursor()

# create table
cursor.execute(""" 
    CREATE TABLE IF NOT EXISTS Results(
        Name TEXT,
        CG TEXT,
        Subject TEXT,
        Grade TEXT,
        PRIMARY KEY(Name, Subject, Grade)
    );
""")


# commit and close connection
conn.commit()
conn.close()

In [17]:
import sqlite3
import csv

# file closes after with block
with open("results.txt","r") as file: 
    reader = csv.reader(file, delimiter="\t")
    results = []
    for row in reader:
        results.append(row)

conn = sqlite3.connect("results.db")
cursor = conn.cursor()

for result in results: # insert into table
    cursor.execute("""
        INSERT INTO Results(Name, CG, Subject, Grade)
        VALUES (?, ?, ?, ?)
    """, result)

# commit and close connection
conn.commit()
conn.close()

In [18]:
import sqlite3

conn = sqlite3.connect("results.db")
cursor = conn.cursor()

# filters students that meet requirements
cursor.execute("""
    SELECT Name
    FROM Results
    WHERE CG = '25/03'
    GROUP BY Name
    HAVING 
        SUM(1 * (Subject != 'GP' AND Grade IN ('A', 'B', 'C', 'D', 'E'))) >= 2
        AND 
        SUM(1 * (Subject = 'GP' AND Grade IN ('S', 'A', 'B', 'C', 'D', 'E'))) >= 1
        AND 
        SUM(1 * (Subject != 'GP' AND Grade IN ('S', 'A', 'B', 'C', 'D', 'E'))) >= 3
    ORDER BY Name;
""")
students = cursor.fetchall()

conn.close()

for student in students:
    print(student[0])

Alexander Curtis
Brenda Reese
Carl Sheppard
Cassandra Wilson
Christopher Mcdonald
Christopher Ross
Courtney Butler
Dennis Miller
James Curtis
Jesse Smith
Jessica Pratt
Jody Santos
Kaitlyn Price
Kenneth Patel
Kristina Fitzgerald DDS
Laura Rollins
Michael Sharp
Samuel Frank
Timothy Sanchez
Tracey Perez
Wendy Reyes